:root {
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.6 "Red Hat Display", sans-serif;
  background: var(--Pale_blue) no-repeat
    url(./images/pattern-background-mobile.svg);
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 88%;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 1.6rem;
}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 1.6rem 1.6rem 0 0;
}

.card-wrapper {
  padding: 1.8rem 1.7rem;
}

.summary {
  margin-bottom: 1.6rem;
}

.summary h1 {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--Dark_blue);
}

.summary p {
  font-weight: 500;
  color: var(--Desaturated_blue);
}

.price {
  font-size: 0.9rem;
  line-height: 0.5;
  background-color: var(--Very_pale_blue);
  border-radius: 0.8rem;
  margin-bottom: 2.2rem;
}

.price ul {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price p:first-of-type {
  color: var(--Dark_blue);
  font-weight: 900;
}

.price p:last-of-type {
  color: var(--Desaturated_blue);
  font-weight: 500;
}

.price a {
  text-decoration-line: underline;
  color: var(--Bright_blue);
  font-weight: 700;
}

.price a:hover {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}

.confirm {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 0.9rem;
}

.confirm ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.9rem;
}

.confirm-btn {
  padding: 0.8em 4.1em;
  margin-bottom: 1.3rem;
  border-radius: 0.8em;
  background-color: var(--Bright_blue);
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 10px 20px hsl(245, 75%, 52%, 0.3);
}

.confirm-btn:hover {
  background-color: hsl(245, 83%, 68%);
  transition: 250ms ease;
}

.cancel-btn {
  color: var(--Desaturated_blue);
  font-weight: 900;
}

.cancel-btn:hover {
  color: var(--Dark_blue);
}

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  font-weight: 700;
}

/* media queries */

@media screen and (min-width: 767px) {
  body {
    background: var(--Pale_blue) no-repeat
      url(./images/pattern-background-desktop.svg);
  }

  .card {
    max-width: 28%;
  }

  .confirm-btn {
    padding: 0.8em 5.6em;
  }
}
