:root {
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.6 "Red Hat Display", sans-serif;
  background: var(--Pale_blue) no-repeat
    url(./images/pattern-background-mobile.svg);
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 88vw;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.6rem;
}

.summary h1 {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--Dark_blue);
}

.summary p {
  font-weight: 500;
  color: var(--Desaturated_blue);
}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 1.6rem 1.6rem 0 0;
}

.price {
  background-color: var(--Very_pale_blue);
  text-align: justify;
}

.price ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price p:first-of-type {
  color: var(--Dark_blue);
  font-weight: 700;
}

.price p:last-of-type {
  color: var(--Desaturated_blue);
  font-weight: 500;
}

.confirm {
  margin-top: 1em;
}

.confirm ul {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.confirm-btn {
  padding: 0.7em 3em;
  border-radius: 0.8em;
  background-color: var(--Bright_blue);
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}
